body {
    background-image: url(/assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #fff;
}

header nav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav .menu li {
    
}

header nav .menu li a {
    height: 100%;
    line-height: 100%;
    font-size: var(--fs-13);
    padding: 0.75rem 1rem ;
}

nav .btn-login {
    
}